@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.App {
  width: 100%;
  background-color: rgba(214, 162, 232,1.0);
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation{
  background-color: rgba(130, 88, 159,1.0);
}

 ul {
  display: table;
  padding: 0%;
  margin: 0%;
  width: 100%;
  /* color: rgba(154, 236, 219,1.0) */
} 

li {
  display: table-cell;
  width: 0%;
  padding: 0%;
  margin: 0%;
  /* color: rgba(154, 236, 219,1.0) */
}

h1 {
  color: rgba(154, 236, 219,1.0);
}

.nagivation li {
 display: table-cell;
 width: 0%;
 padding: 0%;
 margin: 0%;
 text-decoration: none;
 font-family: "Rubik";
}




h5{
  color: rgba(154, 236, 219,1.0);
}

input {
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}