@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.App {
  width: 100vw;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation{
  background-color: #332538;
}

ul {
  display: table;
  padding: 0%;
  margin: 0%;
  width: 100%;
}

.nagivation li {
 display: table-cell;
 width: 0%;
 padding: 0%;
 margin: 0%;
 text-decoration: none;
 font-family: "Rubik";
}