.y{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    padding: 25px;
    align-items: center;
}

.inner{
    display: flex;
    flex-direction: column;
    padding: 10px;
}