
.card {
    width: 300px;
    height: auto;
    background-color: #332538;
    border: solid black;
    border-radius: 10px;
    border-width: 2px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center; 
    /* justify-content: center; */
}

img{
    width: 90%;
    border: dashed black;
}

.description{
    width: 75%;
    height: 30%;
    background-color: #726078;
    border: solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}