
.outerContainer {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    height: auto;
    margin: auto;
    margin-top: 17%;
    align-items: center;
    background: rgba(130, 88, 159,1.0);
    border: 5px solid rgba(255, 229, 33, 0.75);
    padding: 25px;
    border-radius: 50px;
}

.x{
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* background-color: red; */
}

.logo{
    width:60%;
    height: 45%;
    margin: auto;
}

.pageContainer{
    width: 100vw;
    height: 100vh;
}