body{
    background-color: #4a3252;
    width: 100vw;
}
  
button {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #4a3252;
    width: 100%;
    height: 70%;
    border: none;
    display: inline-block;
    font-size: 80%;
    padding: 0%;
    margin: 0%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    background-color: #726078;
    border: 1px 0px black;
    width: 30%;
    align-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}